
body {
  padding-top: 50px;  /* Move body of page below navbar. */
}

.page-content {
  padding: 200px;
  text-align: center;
}

.footer-content {
  padding: 100px;
  text-align: center;
}

.well-color {
  background-color: khaki;
  /* filter:alpha(opacity=30); */ /* IE */
  /* -moz-opacity:0.3; */ /* Mozilla */
  /* opacity: 0.3; */ /* CSS3 */
  padding: 40px;
  color: #EF5C0E;
}

h1 {
  font: 400 70px/1.2 'Istok Web', Verdana, Helvetica, sans-serif;
  font-weight: 900;
  text-shadow: 1px 1px 1px #000;
}

p {
  font: 400 24px/1.6 'Lora', Georgia, serif;
}

.color-1 {
  background-color: #393A35;
  color: white;
  text-shadow: 1px 1px 1px #222;
}
.color-2 {
  color: white;
  background: url("../images/woodenTable.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.color-2 p {
  text-shadow: 1px 1px 1px #222;
}

.color-3 {
  background-color: #79A736;

}
.color-4 {
  background-color: #1B8DBB;
  color: white;
  background: url("../images/startup.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.color-5 {
  background-color: #EF5C0E;
}
.color-6 {
  background-color: #C9302C;
}
.color-7 {
  background-color: darkblue;
}
.color-8 {
  background-color: #1B8DBB;
  color: white;
  text-shadow: 1px 1px 1px #222;
  background: url("../images/startup-engineer-job.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer li {
  display: inline;
  padding-right: 60px;
  color: #999;
}

.footer {
  color: #999;
}